<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PersonalSettings" value="%UserProfile%\ET2" />
    <add key="GlobalSettings" value="\\cns-fileserver1\Departments\11 Public\EFEC\ET2\Settings" />
  </appSettings>
</configuration>