#
##### Python package requirements for ectools ####
##### Reference: https://pip.pypa.io/en/stable/reference/pip_install/#requirement-specifiers
#
requests
selenium
pymssql
assertpy
sphinx
pytest
bs4
lxml