#
##### Python package requirements for ectools ####
##### Reference: https://pip.pypa.io/en/stable/reference/pip_install/#requirement-specifiers
#
requests
selenium
# pymssql discontinued, see https://github.com/pymssql/pymssql/issues/668
pymssql==2.1.4
assertpy
sphinx
pytest
arrow
bs4
lxml
numpy
