<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAS.Core.Properties.Settings.OboeConnectionString"
            connectionString="Data Source=CNS-ETDBDEVVS1;Initial Catalog=Oboe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CAS.Core.Properties.Settings.OboeConnectionString1"
            connectionString="Data Source=CNS-ETDEVDB;Initial Catalog=Oboe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>