<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PartnerSchoolId" value="99" />
    <!-- Cool SmartCenter = 99-->
    <!-- Mini MiniCenter = 106 -->

    <!--The target school to be used-->
    <add key="School" value="SH_ZSP" />
    <!--<add key="School" value="SZ_HQB" />-->
    <!--<add key="School" value="BJ_XZM" />-->
    <!--<add key="School" value="SZ_KJY" />-->

    <add key="BaseDay" value="0" />
    <!--base on day: 0 today, 1 tomorrow-->

    <!--The target timslot to be used-->
    <add key="TimeslotSeq" value="1" />

    <!--CCL enabled for these schools-->
    <add key="EnabledCenters" value="SH_ZSP,BJ_XZM,SZ_HQB,SZ_KJY" />

    <!--For tool tests-->
    <add key="MarkForecastAsBug" value="2692" />
    <add key="CleanupForecastId" value="45" />
    <add key="GetClassByTeacher" value="325" />
    <add key="GetClassByClassroom" value="149" />
  </appSettings>
  <connectionStrings>
    <!--The target database connection: UAT / QA / Staging CN-->
    <add name="CAS.Core.Properties.Settings.OboeConnectionString" connectionString="Data Source=CNS-ETDEVDB;Initial Catalog=Oboe;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="CAS.Core.Properties.Settings.OboeConnectionString" connectionString="Data Source=USB-ETQADB;Initial Catalog=Oboe;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="CAS.Core.Properties.Settings.OboeConnectionString" connectionString="Data Source=10.17.4.56;Initial Catalog=OBOE;Persist Security Info=True;User ID=tempuser;Password=tempuserstg" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>